<div class="form">
  <mat-card class="text-center">
  <section class="mat-typography" class="text-center">
    <h2 class="text-center">These are potential sponsors available to sponsor your society who best match your wants and offers.</h2>
    <h3>The results are ranked from highest to lowest. You and your first result are each other's best match based on all the information available in the system. <br>
        The match score shows how compatible you and the sponsor are. The different columns are meant to show the areas in which you and the sponsor differ
    </h3>
  </section>
  <mat-divider></mat-divider>
  <br><br>

  <mat-card>
    <table mat-table #table [dataSource]="sponsors" >
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element"> {{element.number}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef>Contact</th>
        <td mat-cell *matCellDef="let element"> {{element.contact}}</td>
      </ng-container>
      <ng-container matColumnDef="about">
        <th mat-header-cell *matHeaderCellDef>About</th>
        <td mat-cell *matCellDef="let element"> {{element.about}}</td>
      </ng-container>
      <ng-container matColumnDef="wants">
        <th mat-header-cell *matHeaderCellDef>Categories you want that the sponsor doesn't offer/offers differently to you</th>
        <td mat-cell *matCellDef="let element"> {{element.wants}}</td>
      </ng-container>
      <ng-container matColumnDef="offers">
        <th mat-header-cell *matHeaderCellDef>Categories the sponsor requires that you don't have</th>
        <td mat-cell *matCellDef="let element"> {{element.offers}}</td>
      </ng-container>
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Match score</th>
        <td mat-cell *matCellDef="let element"> {{element.score}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>   
  </mat-card>
  <br>

  <button class="button" type="submit" mat-raised-button color="warm" (click)="back()">Back to profile</button>
  </mat-card>
</div>