.width-max  {
  width: 100% !important;
}

.width-50 {
  width: 50%;
}

.counters {
  text-align: center;
}

.radio-group {
display: flex;
flex-direction: column;
margin: 15px 0;
}

.radio-button {
padding: 5px;
}

.showPassword {
  float:right;
}

.button {
  width: 30%;
}