.form{
    width:70%;
    margin: 0 auto;
   }
   
   .radio-group {
   display: flex;
   flex-direction: column;
   margin: 15px 0;
   }
   
   .radio-button {
   padding: 5px;
   }
   
   .mat-wrapper { 
   margin: 0 auto;
   width:100% !important;
   }
   
   .mat-divider-big {
   display: block;
   margin: 0;
   border-top-width: 10px;
   border-top-style: solid;
   }
   
   .heading-style {
   font-weight:bold;
   font-size:16pt;
   color: #386f91;
   }
   
   .title-style {
    color: #062f70;
    font-size: 20pt;
   }